
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Agregar candidato</title>
</head>
<body>
  <form class="form-AgregarCandidato"action='@Url.Action("GuardarCandidato")' method="post">
        <input type="hidden" autocomplete="off" name="IDPartido" value="@ViewBag.IDPartido">
        <input type="text" autocomplete="off" name="Nombre" placeholder="Nombre" required>
        <input type="text" autocomplete="off" name="Apellido" placeholder="Apellido" required>
        <input type="date" autocomplete="off" name="FechaNacimiento" required>
        <input type="text" autocomplete="off" name="Foto" placeholder="Link a la foto" required>
        <input type="text" autocomplete="off" name="Postulacion" placeholder="Postulacion" required>
        <button type="sumbit">Postular candidato</button>
    </form>
</body>
</html>
