<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creditos</title>
</head>

<body>
    <div class="creditos">
        <h1>Matías Szabo</h1>
        <img src="/img/Szabo.jpg" height="700">
    </div>
    <div class="creditos">
        <h1>Federico Biderman</h1>
        <img src="/img/Fefi.jpg" height="500">
    </div>
    <div class="creditos">
        <h1>Facundo Giraudi</h1>
        <img src="/img/Giraudi.jpg" height="700">
    </div>
</body>

</html>