<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Elecciones</title>
</head>
<body>
    
    <h1>Este Año Hay Elecciones!!</h1>
    <div class="elecciones">
    <br>
    
    <pre>Las elecciones presidenciales se realizan cada cuatro años en la última semana de octubre o la primera semana de noviembre. 
En 2023, se llevará a cabo la elección presidencial para elegir al sucesor del actual presidente, <a href="https://es.wikipedia.org/wiki/Alberto_Fern%C3%A1ndez" >Alberto Fernández</a>
 <br>
El sistema electoral en Argentina es de voto <u>secreto y obligatorio</u> para todos los ciudadanos <u>mayores de 18 años</u>. Tambien, pueden votar los <u>ciudadanos de 16 y 17 años</u> pero es <u>opcional</u>. 
Los ciudadanos pueden votar por medio de boletas impresas o electrónicas, dependiendo del distrito electoral. 
Además, la elección presidencial se lleva a cabo en dos rondas: la primera ronda se lleva a cabo en octubre y, 
si ningún candidato obtiene más del 50% de los votos, se realiza una segunda ronda en noviembre entre los dos candidatos con mayor cantidad de votos.
<br>
El proceso electoral también incluye la elección de los miembros del <u>Congreso Nacional</u> y de las <u>autoridades provinciales y municipales.</u> 
Los ciudadanos argentinos en el extranjero pueden votar en las elecciones presidenciales siempre y cuando estén registrados en el padrón electoral.
<br>
Las elecciones en Argentina suelen ser muy competitivas y polarizadas, con varios partidos políticos presentando candidatos. 
Además, la campaña electoral suele ser intensa y prolongada, con debates y discusiones entre los candidatos y sus partidos</pre>
    </div>
   </body>
</html>