<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Elecciones</title>
</head>
<body>
    <div class="elecciones">
    <h1>Este Año Hay Elecciones!!</h1>
    
    <pre>Las elecciones presidenciales se realizan cada cuatro años en la última semana de octubre o la primera semana de noviembre. 
En 2023, se llevará a cabo la elección presidencial para elegir al sucesor del actual presidente, <a href="https://es.wikipedia.org/wiki/Alberto_Fern%C3%A1ndez" >Alberto Fernández</a>

El sistema electoral en Argentina es de voto <b>secreto y obligatorio</b> para todos los ciudadanos <b>mayores de 18 años</b>. Tambien, pueden votar los <b>ciudadanos de 16 y 17 años</b> pero es<b> opcional</b>. 
Los ciudadanos pueden votar por medio de boletas impresas o electrónicas, dependiendo del distrito electoral. 
Además, la elección presidencial se lleva a cabo en dos rondas: <b>la primera ronda se lleva a cabo en octubre y, 
si ningún candidato obtiene más del 50% de los votos, se realiza una segunda ronda en noviembre entre los dos candidatos con mayor cantidad de votos.</b>

El proceso electoral también incluye la elección de los miembros del <b>Congreso Nacional</b> y de las <b>autoridades provinciales y municipales.</b> 
Los ciudadanos argentinos en el extranjero pueden votar en las elecciones presidenciales siempre y cuando estén registrados en el padrón electoral.

Las elecciones en Argentina suelen ser muy competitivas y polarizadas, con varios partidos políticos presentando candidatos. 
Además, la campaña electoral suele ser intensa y prolongada, con debates y discusiones entre los candidatos y sus partidos</pre>
    </div>
   </body>
</html>