<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Elecciones</title>
</head>
<body>
    <div class="elecciones">
    <h1>Este Año Hay Elecciones!!</h1>
    <h3>En este 2023, la Argentina pasará por un periodo de elecciones, tales como: </h3>
    <br>
    <ul>
        <li><h5>Presidente y Vicepresidente</h5></li>
        <p>Como cada 4 años en nuestro pais, se vota para <b>Presidente Y Vicepresidente</b> de nuestra amada y querida República Argentina</p>
        <li><h5>Diputados y Senadores</h5></li>
        <p>También, <b>se renueva el Congreso</b>, ya que se eligen <b>130 diputados</b> nacionales y <b>24 senadores</b> nacionales.</p>
        <li><h5>Jefes provinciales</h5></li>
        <p>Ademas, este año se eligen al <b>Jefe de gobierno de CABA</b> y en las provincias del interior, se votan <b>Legisladores Provinciales</b>, <b>Intendentes</b> y <b>Concejales Municipales</b>.</p>
    </ul>
    </div>
   </body>
</html>